[Unit]
Description=Sample Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=serviceuser
ExecStartPre=
ExecStart=
ExecStartPost
ExecStop=
ExecReload=

[Install]
WantedBy=multi-user.target